{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salles - Nouvel Hôpital</title>
  <link rel="stylesheet" href="{% static 'hopital/CSS/style.css' %}">
</head>
<body>

<header class="navbar">
  <div class="container nav-container">
    <a href="{% url 'index' %}" class="logo">
      <img src="{% static 'hopital/photo/logo.png' %}" alt="Logo Nouvel Hôpital">
    </a>

    <nav class="nav-links">
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'members' %}">Membres</a>
      <a href="{% url 'objects' %}">Objets</a>
      <a href="{% url 'room' %}">Salles</a>
      <a href="{% url 'profile' %}">Profil</a>
    </nav>
  </div>
</header>


<main class="dashboard-page">
  <div class="container">

    <div class="page-tools">
      <a href="{% url 'dashboard' %}">Retour au dashboard</a>
      <a href="{% url 'logout' %}">Déconnexion</a>
    </div>

    <section class="objects-top">
      <span class="tag">Gestion des pièces / salles</span>
      <h1>Organisation des salles</h1>
      <p>
        Consultez les chambres, blocs et salles de consultation avec leur statut.
      </p>
    </section>

    <form method="GET" class="filters-box">
      <div class="filter-item">
        <label for="search-room">Recherche</label>
        <input
          type="text"
          id="search-room"
          name="q"
          placeholder="Nom de la salle"
          value="{{ request.GET.q }}"
        >
      </div>

      <div class="filter-item">
        <label for="room-type">Type</label>
        <select id="room-type" name="service">
          <option value="">Tous</option>

          {% for s in services %}
            <option value="{{ s.id }}" {% if request.GET.service == s.id|stringformat:"s" %}selected{% endif %}>
              {{ s.nom }}
            </option>
          {% endfor %}
      </select>
      </div>

      <div class="filter-item">
        <label for="floor">Étage</label>
        <select id="floor" name="etage">
          <option value="">Tous</option>
          <option value="0" {% if request.GET.etage == "0" %}selected{% endif %}>RDC</option>
          <option value="1" {% if request.GET.etage == "1" %}selected{% endif %}>1er étage</option>
          <option value="2" {% if request.GET.etage == "2" %}selected{% endif %}>2e étage</option>
          <option value="3" {% if request.GET.etage == "3" %}selected{% endif %}>3e étage</option>
          <option value="4" {% if request.GET.etage == "4" %}selected{% endif %}>4e étage</option>
          <option value="5" {% if request.GET.etage == "5" %}selected{% endif %}>5e étage</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Filtrer</button>
      

    </form>

    <section class="room-grid">
      {% for salle in salles %}
        <article class="room-card">
          <div class="object-top">
            <h3>{{ salle.nom }}</h3>
           <span class="status active">Disponible</span>
          </div>

          <p><strong>Service :</strong> {{ salle.service.nom }}</p>
          <p><strong>Étage :</strong> {{ salle.etage }}</p>
        </article>
      {% empty %}
        <p>Aucune salle enregistrée.</p>
      {% endfor %}
     
    </section>
  </div>
</main>

</body>
</html>
